* {
  box-sizing: border-box;
}
  h1 {
    color: purple;
    border-style: solid;
    border-width:2px;
    border-color: red;
    text-align: center;
  }
nav {
  text-align: center;
  margin: 10px 20px;
  border: 2px;
}

h2 {
  color: red;
  border-style: solid;
  border-width: 2px;
  border-color: red;
  text-align: center;

}
  p {
    color: purple;
    line-height: 1.5em;
  }
    ul {
    line-height: 1.5em;
    font-weight: bold;
  }
  body {
    background-color: white;
  }
  img {
    width: 100%;
  }
  .purple-text {
    color: purple;
  }
  .important {
    font-weight: bold;
  }
  .comm-lead {
    color: orange;
  }
  #lead-paragraph {
    color: orange;
    font-weight: bold;
  }
  #abstract {
    background: pink;
  }
  #navbar {
    width: 100%;
  }
  .important:hover {
    background-color: orange;
  }
  p.important {
    width: 75%;
  }
  img {
    border-style: solid;
    border-color: orange;
    border-width: 3px;
    width: 75%;
  }
