* {
  box-sizing: border-box;
}
body {
  margin: 0px;
  padding: 0px;
  font-family: serif;
  background-color: white;
}
.header {
background-color: orange;
}
#navbar {
  color: orange;
  list-style: none;
  text-align: center;
  padding: 15px 0 15px 0;
}
#navbar > li > a:hover {
    color: red;
}
#navbar > li {
  display: inline-block;
  padding-right:50px;
}

#navbar > li > a {
  text-decoration: none;
  text-color: white;
}
h1 {
  text-align: center;
}

p {
    color: purple;
    line-height: 1.5em;
  }
ul {
    line-height: 1.5em;
    font-weight: bold;
  }
body {
    background-color: white;
  }

.purple-text {
  color: purple;
  }
.important {
  font-weight: bold;
  }
.comm-lead {
  color: orange;
}
#lead-paragraph {
  color: orange;
  font-weight: bold;
}
#abstract {
  background: pink;
}

.important:hover {
  background-color: orange;
}
p.important {
  width: 75%;
}
img {
    border-style: solid;
    border-color: orange;
    border-width: 3px;
    width: 90%;
}
.foot {
  text-align: center;
}
