  h1 {
    color: purple;
  }

  p {
    color: purple;
  }

  body {
    background-color: yellow;
  }
  img {
    width: 100%;
  }
  .purple-text {
    color: purple;
  }
  .important {
    font-weight: bold;
  }
  #lead-paragraph {
    color: purple;
    font-weight: bold;
  }
  .important:hover {
    background-color:#0000FF;
  }
  h1 {
    color: purple;
    border-style: solid;
    border-width:1px;
    border-color: red;
  }

  p.important {
    width: 75%;
  }
  img {
    border-style: dashed;
    border-color: orange;
    border-width: 3px;
    width: 75%;
  }
